/* ==========================================================================

  Index:         

 1. BASE STYLES   
   - Base
   - Typography

 2. STRUCTURE
   - Structure
   - Header
   - Content
   - Footer

 3. MAIN NAVIGATION
   - Custom Menu Primary
   - Mobile Menu

 4. TEMPLATE MODULE CLASSES
   - Common Template Classes
   - Site Pages

 5. COMPONENTS
   - Forms
   - Buttons

 6. MISCELLANEOUS

 7. MOBILE MEDIA QUERIES

  ========================================================================== */

.hero-header {
 min-height: 300px;
 background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Korb_mit_Br%C3%B6tchen.JPG/1067px-Korb_mit_Br%C3%B6tchen.JPG);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 
}


nav {

  padding-right: 40px;
  padding-left: 40px;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

#stickyheaders{
  -webkit-transition: transform 0.34s ease;
  transition : transform 0.34s ease;
  }
  .headerup{
  transform: translateY(-110px); /*adjust this value to the height of your header*/
  }



  @media (min-width: 1000px) {
    .mobile-nav {
      display:none;
    }
  }

  