/* ==========================================================================

  Index:         

 1. BASE STYLES   
   - Base
   - Typography

 2. STRUCTURE
   - Structure
   - Header
   - Content
   - Footer

 3. MAIN NAVIGATION
   - Custom Menu Primary
   - Mobile Menu

 4. TEMPLATE SHARED CLASSES
   - Common Template Classes
   - Site Pages

 5. COMPONENTS
   - Forms
   - Buttons



 7. MOBILE MEDIA QUERIES

  ========================================================================== */


/* =============================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  1. BASE STYLES   
  - Base
  - Typography
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
============================================================================= */


/* =============================================================================
- Base
============================================================================= */


/*
Color pallette:
Dark Brown: #796b55 - for main headings and text
Off white: #eeefe6 - used for text over images. Use for background colour on light sections

Background colouring, Highlights and Accents:
Medium brown - #a19a82 - Use for background color on dark sections
Medium1 blue - #b9cac0 - Use for background colour on medium sections
Darker blue - #4f7673 - button colour for primary cta
Medium2 blue - #4f7673 - button colour for secondary cta
Duck egg blue - #c3e7e7 - background colour for featured content - purpose is to highlight

*/

:root {
    --dark-brown: #796b55;
    --off-white: #eeefe6;
    --medium-brown: #a19a82;
    --medium-blue1: #b9cac0;
    --darker-blue: #4f7673;
    --highlight-blue: #c3e7e7;
}


/* Enable smooth scrolling between sections*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--off-white);
}

.dark-section {
    background-color: var(--dark-brown);
    color: var(--off-white);
}

.light-section {
    background-color: var(--medium-blue1);
    color: var(--dark-brown);
}

.light-section h3 {
    color: var(--dark-brown);
}

.medium-section-brown {
    background-color: var(--medium-brown);
    color: var(--dark-brown);
}

.highlight-section {
    background-color: #c3e7e7;
    color: var(--dark-brown);
}

.medium-section-blue {
    background-color: var(--darker-blue);
    color: var(--off-white);
}

.section-offwhite {
    background-color: var(--off-white);
    color: var(--darker-blue);
}

.medium-section-blue h3 {
    color: var(--off-white);
}


/* =============================================================================
- Typography
============================================================================= */

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

body {
    color: var(--dark-brown);
}

h2 {
    font-size: 28pt;
}

a {
    color: var(--darker-blue);
}

.brand-logo {
    font-size: 10pt !important;
}

.tiny-icon {
    font-size: 8pt;
}

.small-icon {
    font-size: 12pt;
}

#main-site-title {
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 0px 12px black;
    color: white;
    font-weight: 700;
}

.featured-stat {
    font-size: 100pt;
    font-weight: 700;
    z-index: 10;
    margin-top: 20px;
}

.medium-section-blue .stats-icon,
.light-section .stats-icon,
.cta-icon {
    font-size: 60pt;
    margin-right: -40px;
}

.section-icon {
    font-size: 120pt;
}

.delete-icon {
    color: red;
    font-size: 24pt;
}

.heading-with-icon {
    margin-top: -100px;
    padding: 0px 20px 40px;
}

.sidebar-text {
    padding: 30px 0px;
    border-style: dotted;
    border: solid;
    border-width: 1px 0px;
    margin: 60px 0px;
}

.recipe-stat {
    font-size: 2rem;
}

.page-footer a {
    color: var(--off-white)
}


/* =============================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2. STRUCTURE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
=============================================================================
============================================================================= */


/* =============================================================================
- Header
============================================================================= */

nav {
    padding-right: 40px;
    padding-left: 40px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

#stickyheaders {
    -webkit-transition: transform 0.34s ease;
    transition: transform 0.34s ease;
}

.headerup {
    transform: translateY(-110px);
    /*adjust this value to the height of your header*/
}


/* =============================================================================
- Content
============================================================================= */


/* =============================================================================
- Footer
============================================================================= */


/* =============================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  4. COMMON TEMPLATES CLASSES  
  - Shared Template Classes
  -- Colours
  -- Margin and Padding Utility Classes
  - Site Pages
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
============================================================================= */


/* =============================================================================
- Shared Template Classes
============================================================================= */


/*  =============================  COLOURS  =============================  */

.medium-section-blue .stats-icon {
    color: var(--medium-blue1);
}

.light-section .stats-icon {
    color: var(--medium-brown);
}

.white-section {
    background-color: white;
}

.highlight-section .section-icon {
    color: var(--off-white);
}

.container .section-icon {
    color: var(--highlight-blue);
}

.medium-section-blue a {
    color: var(--off-white);
}

.light-section a {
    color: var(--dark-brown);
}


/*  =============================  MARGINS & PADDING UTILITY CLASSES  =============================  */


/*
.hero-header,
.hero-header-secondary {
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.hero-header,
.hero-parallax {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Korb_mit_Br%C3%B6tchen.JPG/1067px-Korb_mit_Br%C3%B6tchen.JPG);
}

.hero-header,
.hero-header-secondary {
    height: 300px;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Add opacity overlay over image and text 

.hero-header:after,
.hero-header-secondary:after {
    position: absolute;
    content: " ";
    top: 120;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

*/

.container .section-inner,
.section-inner {
    margin: 0px;
}

.full-width {
    padding: 50px;
}

.padded-wide-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padded-grid-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.content-section-sm {
    margin-top: 60px;
    margin-bottom: 60px;
}

.content-section-xsm {
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-area {
    height: 300px;
}

.featured-item-button {
    display: block;
    margin-top: 10px;
}

.featured-image-display {
    margin-top: 50px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

.inner-box {
    margin: 60px 0px;
}

.nav-section .inner-box {
    padding: 0px 40px;
}

.inner-content {
    margin-top: 40px;
}


/* =============================================================================
- Shared Template Classes
============================================================================= */

.switcher {
    display: flex;
    flex-direction: column-reverse;
}

.text-box {
    padding: 40px;
}

.text-box-inner {
    margin-bottom: 30px;
    margin-top: 30px;
}

.email-text {
    word-break: break-all;
}


/* =============================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  5. COMPONENTS  
  - Buttons
  - Forms
  - Misc -eg tabs
  - Animation
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
============================================================================= */


/* =============================================================================
- Buttons
============================================================================= */


/* BUTTONS */

.btn,
.btn-large {
    background-color: var(--medium-brown);
}

.container .btn-large,
.inner-box .btn-large {
    border-radius: 5px;
}

.btn:hover,
.btn-large:hover {
    background-color: var(--highlight-blue);
    color: var(--darker-blue);
    cursor: arrow;
}

.btn-row {
    margin-top: 5px;
}


/* =============================================================================
- Forms
============================================================================= */


/* label color */

.input-field label {
    color: var(--dark-brown);
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: var(--dark-brown);
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px var(--darker-blue);
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}


/* =============================================================================
- Misc
============================================================================= */

.tabs-fixed-width {
    background-color: var(--off-white);
}

.tabs .tab a,
.tabs .tab a.active,
.tabs tab.disabled a {
    color: var(--dark-brown);
}

.tabs .tab a:hover {
    color: var(--darker-blue);
}

.tabs .indicator {
    background-color: var(--darker-blue);
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: var(--dark-brown);
    cursor: default;
}

blockquote {
    border-left-color: var(--darker-blue);
}

.clickable-item {
    cursor: pointer;
}

.recipe-label {
    background-color: var(--highlight-blue);
    color: var(--darker-blue);
    border-radius: 5px;
    cursor: default;
}


/* NB this is removed on large screens by a media query */

.dropdown-button {
    margin-bottom: 20px;
}


/* DROPDOWN TEXT */

.dropdown-content li>a {
    color: var(--dark-brown);
}


/* Tap Target  and floating action icons*/

.btn-floating i {
    background-color: var(--off-white);
    color: var(--dark-brown);
}

.tap-target {
    background-color: var(--highlight-blue);
    color: var(--darker-blue);
}


/* Classes to be used by jquery for targetting linked classes generated by jinja  */

.display-1 {
    display: block;
}

.display-2 {
    display: none;
}

.display-3 {
    display: none;
}


/* =============================================================================
- Animation
============================================================================= */

.grow {
    transition: all .3s ease-in-out;
}

.grow:hover {
    transform: scale(1.3);
}


/* =============================================================================
7. MOBILE MEDIA QUERIES
============================================================================= */

.medium-large-only {
    display: none;
}

@media (min-width: 600px) {
    h2 {
        font-size: 45pt;
    }
    .section-with-sidebar {
        margin-right: 40px !important;
    }
    #vertical-align-large {
        padding-top: 50px;
    }
    .mobile-only {
        display: none;
    }
    .medium-large-only {
        display: block;
    }
    .dropdown-button {
        margin-bottom: 0px;
    }
    /* Section Headings with icons behind */
    .section-icon {
        font-size: 200pt;
    }
    .heading-with-icon {
        margin-top: -180px;
        padding: 0% 20% 5%;
    }
    .sidebar-icon {
        font-size: 120pt;
        color: var(--dark-brown);
    }
    .switcher {
        display: flex;
        flex-direction: row;
    }
    .text-box-inner {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .brand-logo {
        font-size: 18pt !important;
    }
}

@media (min-width: 1000px) {
    .mobile-nav {
        display: none;
    }
}

@media (min-width: 1000px) {
    .padded-wide-section {
        padding: 80px 200px;
    }
    .inner-box {
        margin: 0px;
    }
    #vertical-align-large {
        padding-top: 100px;
    }
}