{% extends 'base.html' %} {% block content %}


<div class="hero-header valign-wrapper center-align">
    <div class="row ">
        <h1 class="col s12" id="main-site-title">About</h1>
    </div>
</div>

<div class="container">
    <div class="row medium-section-blue center-align text-box">

        <div class="col s12 m6 text-box-inner">
            <h2>Windy Miller's Bakery</h2>
            <h4>Est 2020</h4>
        </div>
        <div class="col s12 m6 ">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_jBvjF3.json" background="b9cac0" speed="1" style="width: 300px; height: 300px;" hover loop autoplay></lottie-player>
        </div>
    </div>
    <div class="row light-section switcher text-box">

        <div class="col s12 m6"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Korb_mit_Br%C3%B6tchen.JPG/1067px-Korb_mit_Br%C3%B6tchen.JPG" width=300px></div>
        <div class="col s12 m6 text-box-inner">
            <h4>All recipes provided by our founder. And YOU!</h4>
        </div>
    </div>
    <div class="row dark-section text-box">

        <div class="col s12 m6 text-box-inner">
            <h4>Windy's Pro Utensils will get the result every time.</h4>
        </div>
        <div class="col s12 m6"><img src="https://cdn.pixabay.com/photo/2018/02/22/15/41/wood-3173282_960_720.jpg" width=300px></div>
    </div>

    <div class="row light-section text-box switcher">
        <div class="col s12 m6"><img src="https://cdn.pixabay.com/photo/2018/03/02/13/38/writing-pad-3193199_960_720.jpg" width=300px></div>
        <div class="col s12 m6 text-box-inner email-text">
            <h4>CONTACT <br><br>windy@windymillersbakery.bread</h4>
        </div>

    </div>

</div>
{% endblock %}