{% extends 'base.html' %}
{% block content %}
<div class="row">

    <h3>Manage Recipes</h3>

    <ul class="collapsible" data-collapsible="accordion">
        {% for r in manage_recipes %}   
            {% if r.published == 'on' %}
                <li>
                    <div class="collapsible-header">
                        <a href="{{url_for('edit_recipe', recipe_id =r._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
                        <a href="{{url_for('archive_recipe', recipe_id =r._id)}}" class="waves-effect waves-light btn btn_small blue">Archive</a>
                        <div class=" task_header col s8">
                            <strong>{{r.recipe_name}}</strong> 
                        </div>

                    </div>
                </li>
             {% endif %}
        {% endfor %}
    </ul>


</div>

{% endblock %}