{% extends 'base.html' %}
{% block content %}
<div class="row">

    <h3>Utensils</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for utensil in manage_utensils %}
            {% if utensil.published == 'on' %}
                <li>
                    <div class="collapsible-header">
                                <a href="{{url_for('edit_utensil', utensil_id =utensil._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
                                <a href="{{url_for('delete_utensil', utensil_id =utensil._id)}}" class="waves-effect waves-light btn btn_small blue">Del *careful*</a>
                                <a href="{{url_for('archive_utensil', utensil_id =utensil._id)}}" class="waves-effect waves-light btn btn_small blue">Archive</a>
                        <div class=" task_header col s8">
                            <strong>{{utensil.utensil_name}}</strong> 
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<!--
<div>
        <a href="{{url_for('add_utensil')}}" class="waves-effect waves-light btn"><i class="material-icons right">playlist_add</i>Add Utensil</a>

</div>
-->
{% endblock %}