
{% extends 'base.html' %} {% block content %}

<div class="row">


    {% for r in recipes %}
    {% if r.published == 'on' %}


    <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{{r.photo_url}}">
            <span class="card-title">{{r.recipe_name}}</span>
          </div>
          <div class="card-content">
            {% if r.recipe_featured %}
            <span>
            **This is a featured recipe**
            </span>
            {% endif %} 

        <p class="{{r.recipe_category}}" >Serves {{r.recipe_serves}}. Delicious and ready in {{r.preparation_time}} mins.</p>
        
        <p>Cooking Time: {{r.cooking_time}}</p>
          </div>
          <div class="card-action">
            <a href="{{url_for('view_recipe', recipe_id =r._id)}}" class="waves-effect waves-light btn btn_small blue">View</a>
          </div>
        </div>
      </div>
        
    {% endif %}
{% endfor %}




</div>




       


{% endblock %}