{% extends 'base.html' %} {% block content %}


<div class="row">
  <div class="col s12 m10">
    <ul class="tabs filter">
      <li class="tab col disabled"><a>Filter By :</a></li>
      <li class="tab col "><a class="active filteroption" data-name="*">All</a></li>
      {% for c in categories %}
      <li class="tab col "><a class="filteroption" data-name=".{{c.category_name}}">{{c.category_name}}</a></li>
    {% endfor %}

    </ul>
  </div>
  <a class='col s12 m2 dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Sort By</a>
  <!-- Dropdown Open -->

</div>


  
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content sort'>
  <li><a href="#!" data-name="name">Name</a></li>
  <li><a href="#!" data-name="original-order">Original</a></li>
  <li><a href="#!" data-name="random">Random</a></li>
  <li><a href="#!" data-name="cookingtime"><i class="material-icons">timer</i>Time</a></li>
</ul>



<div class="row grid-main">
  {% for r in recipes %} {% if r.published == 'on' %}

  <div class="col s12 m6 l4 grid-item {{r.category_name}} ">
    <div class="card ">
      <div class="card-image">
        <img src="{{r.photo_url}}" />
        <span class="card-title">{{r.recipe_name}}</span>
      </div>
      <div class="card-content">
        {% if r.recipe_featured %}
        <span>
          **This is a featured recipe**
        </span>
        {% endif %}

        <p>
          Serves {{r.recipe_serves}}. Delicious and ready in
          {{r.preparation_time}} mins.
        </p>
        <p class="cookingtime">{{r.cooking_time}}</p>
        <p class="name">{{r.recipe_description}}</p>
      </div>
      <div class="card-action">
        <a
          href="{{url_for('view_recipe', recipe_id =r._id)}}"
          class="waves-effect waves-light btn btn_small blue"
          >View</a
        >
      </div>
    </div>
  </div>

  {% endif %} {% endfor %}
</div>

{% endblock %}
