{% extends 'base.html' %} {% block content %}

<div class="hero-header-secondary valign-wrapper center-align" style="background: url({{recipe.photo_url}});">
    <div class="row ">
        <h1 class="col s12" id="main-site-title">{{recipe.recipe_name}}</h1>
        <div class="right-align">
            {% if recipe.recipe_featured %}<a class="waves-effect waves-light btn recipe-label">Featured</a>{% endif %}
        </div>


    </div>
</div>

<div class="container content-section">
    <div class="row">

        <article class="col s12 m7 l7 section-with-sidebar">

            <div class="content-section-sm">
                <h2>Description:</h2>
                <blockquote class="flow-text">{{recipe.recipe_description}}</blockquote>
            </div>


            <div class="content-section-sm">
                <h4>Before you bake:</h4>
                <ul>
                    <li><i class="small material-icons">people_outline</i><span class="recipe-stat">Serves {{recipe.recipe_serves}}</span></li>
                    <li><i class="small material-icons">alarm_on</i><span class="recipe-stat">Prep in: {{recipe.preparation_time}}</span></li>
                    <li><i class="small material-icons">alarm_on</i><span class="recipe-stat">Cook in: {{recipe.cooking_time}}</span></li>
                    <li><i class="small material-icons">local_dining</i><span class="recipe-stat">Needs: {{recipe.utensil_list}}</span></li>

                </ul>
            </div>


            <i class="small material-icons">local_dining</i><span class="recipe-stat">Try using Windy's <a href="{{url_for('view_utensils')}}">{{recipe.featured_utensil}}</a></span>


            <div class="content-section-sm">
                <h4>Ingredients:</h4>

                {{recipe.ingredient_list}}

            </div>


            <div class="content-section-sm">

                <h4>Method:</h4>
                <p>{{recipe.method}}</p>

            </div>

            <i class="small material-icons">check_circle</i><span class="recipe-stat">Windy's Tip: {{recipe.tips}}</span>






        </article>

        <!--  *** SIDEBAR AREA ***  -->

        <aside class="col s12 m4 l4">

            <h3 class="sidebar-text">You may also like ...</h3>

            {% for r in recipes %} {% if r.published == 'on' %} {% if loop.index
            < 2 %} {% if r.recipe_featured %} <div class="card" data-aos="flip-left">
                <div class="card-image">
                    <img src="{{r.photo_url}}" />
                    <h4 class="card-title">{{r.recipe_name}}</h4>

                </div>
                <div class="card-content">
                    {% if r.recipe_featured %}
                    <span class="featured-badge new badge" data-badge-caption="Featured"><i class="tiny-icon material-icons prefix ">thumb_up</i></span><br> {% endif %}

                    <p>
                        Serves {{r.recipe_serves}}. Delicious and ready in {{r.preparation_time}} mins.
                    </p>
                    <p class="cookingtime"><i class="small-icon material-icons prefix ">alarm_on</i> Cooking time {{r.cooking_time}}</p>
                    <p class="name ">{{r.recipe_description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{url_for('view_recipe', recipe_id =r._id)}}" class="waves-effect waves-light btn">View</a>
                </div>
                {% else %} {% endif %} {% else %} {% endif %} {% endif %} {% endfor %}
    </div>


    <div>

        <h4 class="center-align sidebar-text">Add your own recipe</h4>
        <h4 class="featured-stat center-align "><i class="grow sidebar-icon material-icons prefix tap-target-opener clickable-item ">add_circle</i></h4>



    </div>


    </aside>




    </a>


</div>
</div>
{% include 'components/data_dashboard.html' %} {% include 'components/quotebox.html' %} {% endblock %}