{% extends 'base.html' %} {% block content %}

<div class="hero-header valign-wrapper center-align">
    <div class="row ">
        <h1 class="col s12" id="main-site-title">Windy's <br>{{category_name}} Recipes</h1>
    </div>
</div>



<div class="container content-section">

    <div class="row">

        {% for s in selected_recipes %} {% if s.published == 'on' %}
        <div class="col s12 m6 l4 ">

            <div class="card">
                <div class="card-image">
                    <img src="../static/images/{{s.photo_url}}">
                    <span class="card-title">{{s.recipe_name}}</span>
                </div>
                <div class="card-content">
                    {% if s.recipe_featured %}
                    <span class="featured-badge new badge" data-badge-caption="Featured"><i class="tiny-icon material-icons prefix ">thumb_up</i></span><br> {% endif %}

                    <p>
                        Serves {{s.recipe_serves}}. Delicious and ready in {{s.preparation_time}} mins.
                    </p>
                    <p class="cookingtime"><i class="small-icon material-icons prefix ">alarm_on</i> Cooking time {{s.cooking_time}}</p>
                    <p class="name ">{{s.recipe_description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{url_for('view_recipe', recipe_id =s._id)}}" class="waves-effect waves-light btn">View</a>
                </div>
            </div>

        </div>
        {% endif %} {% endfor %}
    </div>


</div>
</div>

<div class=" light-section padded-wide-section ">

    <h2>All of Windy's Recipe Categories:</h2>


    <div class="row ">


        {% for c in categories %} {% if c.published == 'on' %}
        <div class="col s12 m6 l4 ">

            <div class="card ">
                <div class="card-image ">
                    <img src="{{c.category_image}} ">
                    <span class="card-title ">{{c.category_name}}</span>
                </div>

                <div class="card-action ">
                    <a href="{{url_for( 'view_category', category_id=c._id, category_name=c.category_name)}} " class="waves-effect waves-light btn btn-row">View</a>

                </div>
            </div>

        </div>
        {% endif %} {% endfor %} {% include 'components/add_your_own_cta_box.html' %}



    </div>


</div>


{% endblock %}