<div class="medium-section-blue padded-wide-section">
        
    <div class="row">
      <div class="col s12">
        <h3 >Our Growing Collection of recipes contains: </h3>
      </div>

    </div>

    <div class="row ">
      <div class="col m4 s12 content-200">
            
        <p class="center-align">Recipe Count: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">cake</i>{{recipecount}}</h4>
        
        
      </div>

      <div class="col m4 s12">
            
        <p class="center-align">Featured Recipes: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">cake</i>{{featuredrecipes}}</h4>
        
        
      </div>

      <div class="col m4 s12">

        <p class="center-align">Categories: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">create_new_folder</i>{{recipecategories}}</h4>
        
       </div>


    </div>



  </div>

  
</div>

<!-- Lower dashboard - lighter - with CTA to add a recipe -->


<div class="light-section padded-wide-section">
        

    <div class="row ">


      <div class="col m4 s12">
            
        <p class="center-align">Utensils: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">local_dining</i>{{featuredrecipes}}</h4>
        
        
      </div>

      <div class="col m4 s12">

        <p class="center-align">Quick Prep Recipes: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">create_new_folder</i>{{recipecategories}}</h4>
        
       </div>

       <div data-aos="flip-left" class="col m4 s12">

        <p class="center-align">Add your own recipe: </p>
        <h4 class="featured-stat center-align"><i class="stats-icon material-icons prefix">local_dining</i>{{utensilcount}}</h4>
        
       </div>

    </div>



  </div>

  
</div>